/* CSS global variables */
:root {
  --gameRows: 6;
  --gameCols: 7;
}

.backButton {
  padding: 12px 20px;
  left: 20px;
  top: 5px;
  background-color: rgba(29, 78, 216);
  color: white;
  
  position: absolute;
  border-radius: 5px;
}

.resetButton {
  padding: 12px 20px;
  right: 20px;
  top: 5px;
  background-color: rgba(29, 78, 216);
  color: white;
  
  position: absolute;
  border-radius: 5px;
}

.info {
  text-align: center;
  font-size: 8vh;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.gameSquare {
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  aspect-ratio: 1;
}

.gameColumnHover {
  cursor: pointer;
  background-color: lightblue;
}

.gameArea {
  width: 100vw;
  max-width: 100vh; 
  margin: auto;
  padding: 10px;

  background-color: black;
  position: relative;
  top: 5px;

  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(var(--gameRows), 1fr);
  grid-template-columns: repeat(var(--gameCols), 1fr);
}

.animatedCircle {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

@keyframes fall {
  from {
    transform: translateY(-500px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes reset {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-500px);
  }
}